.backlogview {
    width: calc(100% - 220px);
    padding: 20px 36px;
}
.cardstyle {
    width: 100%;
    height: 400px;
    min-height: 260px;
}
.cardstyle .ant-card-body {
    max-height: 260px;
}
.backbox {
    display: flex;
    justify-content: space-between;
}
.divitem {
    width: 10%;
}
.backinput {
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.ml10 {
    margin-left: 10px;
}
.mt10 {
    margin-top: 10px;
}
.point {
    cursor: pointer;
}